// colors
$btn-and-tag: #4f46e5;
$btn-hover: #6366f1;
$btn-active: #3b82f680;
$btn-disabled: #778899dc;
$tag-hover: #4e46e536;
$tag-active: #4e46e5a1;
$image-data-icon: #00000097;
$white: #fff;
$loader-first-color: #e1e0e0;
$loader-second-color: #f5f5f5;
$box-shadow-first-color: #00000014;
$box-shadow-second-color: #0000004d;
$title-color: #ababab;

$border-radius-small: 6px;
$border-radius-big: 12px;